.content{
    display: flex;
    flex-direction: column;

    padding: 10px 20px;
}

div.container {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

div.container > div {
    margin: 10px 0;
}

.content h1 {
    color: tomato;
}

.card-body h3 {
    color: rgb(209, 136, 0);
}

.card-body h5 {
    color: rgb(104, 104, 104);
}

.card-body p {
    color: black;
}